<main>
<head>
    <meta charset="utf-8">
    <Title>Private</Title>
</head>
<body>
    <h1>User Info</h1>
    <h2>Username</h1>
    <p id=username>{{data.username}}</p>
    <h2>First Name</h2>
    <p id=firstname>{{data.firstName}}</p>
    <h2>Last Name</h3>
    <p id=lastname>{{data.lastName}}</p>
    <h2>Profession</h4>
    <p id=profession>{{data.profession}}</p>
    <h2>Bio</h5>
    <p id=bio>{{data.bio}}</p>
    <a href="/logout">Log Out</a>
</body>
</main>